{
  "extends": "airbnb/base",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-console": 0,
    "no-unused-vars": [2, { "argsIgnorePattern": "^_" }],
    "new-cap": [2, { "capIsNew": false }],
    "import/named": 2,
    "import/default": 2,
    "import/export": 2,
    "import/imports-first": 2,
    "import/no-duplicates": 2,
    "import/no-unresolved": 2
  },
  "plugins": ['ava', 'import']
}
